.order-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.order{
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-left{
    width: 30%;
}
.order-mid{
    padding: 10px;
    align-self: flex-start;
    width: 35%;
}
.order-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff2f2;
  border-radius: 20px;
  padding: 18px;
}
.order-right p{
    line-height: 25px;
    color: #ff7878;
    border-bottom: 1px solid #ff7878;
}
.order-right h3{
    font-weight: 700;
}
.order-mid-inner{
    display: flex;
    align-items: center;
}
.order-mid-inner .span-first{
    padding-bottom: 7px ;
    margin-bottom: 7px;
}


.booking-outer{
    background-color:#fff2f2;
    padding: 10px;
    border-radius: 20px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.booking-left{
    padding: 30px 0;
    background-color: #fff;
    border-radius: 20px;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.booking-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.booking-content h2{
  font-size: 35px;
  font-weight: 600;
}
.booking-text-p span{
    font-size: 20px;
}
.booking-text-time p{
    font-size: 16px;
    padding: 10px 16px;
}

@media only screen and (max-width: 290px) {
    .order-right p{
        font-size: 5px !important;
    }
    .invoice-btn span{
        font-size: 2px !important;
    }
}
@media only screen and (max-width: 390px) {
    .order-right p{
        font-size: 8px !important;
    }
    .invoice-btn span{
        font-size: 10px !important;
    }
   
}
@media only screen and (min-device-width: 260px) and (max-device-width: 490px) {
    .booking-content h2{
        font-size: 15px !important;
      }
      .booking-text-p span{
          font-size: 8px !important;
          padding: 2px 6px !important;
      }
      .booking-text-time p{
          font-size: 8px !important;
          padding: 4px 8px !important;
      }
      .booking-left{

        padding: 6px 8px !important;
    }
  }
@media only screen and (max-width: 490px) {
    .order-mid-inner span{
        font-size: 9px;
    }
    .order-mid h3{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .order-right p{
        font-size: 10px;
    }
    .invoice-btn{
        font-size: 12px !important;
        padding: 3px !important;
    }
    .invoice-btn span{
        font-size: 12px !important;
    }
    .view-btn{
        padding: 2px !important;
    }
    .order-right{
        padding: 8px !important;
    }
    .order-mid{
        width: auto;
        padding: 3px;
    }
    /* .booking-content h2{
        font-size: 20px !important;
      }
      .booking-text-p span{
          font-size: 12px !important;
          padding: 6px 10px !important;
      }
      .booking-text-time p{
          font-size: 8px !important;
          padding: 6px !important;
      } */

}
@media only screen and (max-width: 600px) {
    .order{
        width: 95% !important;
    }
    .booking-outer{
        width: 95% !important;
    }
    .order-mid{
        width: auto;
    }
    .booking-left{
        width: 60% !important;
    }
    /* .booking-content h2{
        font-size: 22px !important;
      }
      .booking-text-p span{
          font-size: 14px !important;
          padding: 8px 14px !important;
      }
      .booking-text-time p{
          font-size: 10px !important;
          padding: 8px 14px !important;
      } */
   
    
}
@media only screen and (max-width: 768px) {
    .order-left{
        display: none;
    }
    .order-mid{
        width: auto;
    }
    .booking-left{
        width: 65%;
        align-self: flex-start !important;
        justify-content:flex-start !important;
        flex-direction: column !important;
        padding: 20px 8px;
    }

    .booking-content h2{
        font-size: 26px;
      }
      .booking-text-p span{
          font-size: 16px;
          padding: 10px 16px;
      }
      .booking-text-time p{
          font-size: 13px;
          padding: 10px 16px;
      }
}
@media only screen and (max-width: 992px) {
    .order{
        width: 90%;
    }
    .booking-outer{
        width: 90%;
    }
    .order-mid{
        width: auto;
    }
}
