.header {
  position: relative;
  height: 130px;
}
.header-inner {
  position: absolute;
  top: 20%;
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header-inner h1 {
  font-weight: lighter;
}
.header-inner i {
  font-size: xx-large;
  margin-right: 30px;
}
.main-content-img {
  /* object-fit: contain; */
}
.mentor-logo {
  display: none;
}
.main-contet-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.main-content {
  border-radius: 20px;
  padding: 12px 0;
  border: 1px solid lightgray;
}
.main-cont {
  width: 60%;
}
.main-inner {
  background-image: url("./Images/Rectangle\ 100.png");
  background-position: center;
  border-radius: 10px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
}
.main-content-bg {
  background: #ffeeee;
}
.main-inner span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #ff7878;
  border-bottom: 1px solid #ff7878;
}
.main-inner h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.invoice-btn {
  background-color: transparent;
  border: 1px solid #ff7878;
  border-radius: 10px;
  padding: 10px 0;
  width: 100%;
}
.invoice-btn i {
  margin-right: 10px;
}
.view-btn {
  width: 100%;
  padding: 10px 0;
  background: #ff7070;
  border: none;
  border-radius: 10px;
}

.booking {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  border-radius: 20px;
  padding: 15px 0;
  padding-left: 10px;
}
.booking-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.booking-text h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
}

.booking-text-p p {
  background-color: #ff7878;
  border-radius: 20px;
  padding: 8px 20px;
  margin-right: 5px;
  /* background: #FF7070; */
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
.booking-main-inner {
  background: transparent !important;
  padding: 10px 0 !important;
}
.booking-text-time i {
  border-right: 2px solid black;
  padding-right: 5px;
  margin-right: 5px;
}
.booking-text-time p {
  border-radius: 30px;
  padding: 8px 25px;
  margin-right: 5px;
  border: 1px solid black;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
}
@media only screen and (max-width: 990px) {
  .booking {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    height: 100px;
  }
  .header-inner {
    margin-left: 15px;
  }
  .header-inner h1 {
    font-size: 35px;
  }
  /* .booking-text-p{
    overflow: scroll;
    width: 100%;
    position: relative;
   } */
  .header-inner i {
    margin-right: 20px;
  }
  .main-content {
    padding: 5px 0;
  }
  .booking img {
    width: 25% !important;
  }
  .booking {
    padding: 10px 5px;
  }
  .booking-text h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
  }
  .booking-text-time p {
    padding: 7px 5px;
    letter-spacing: normal;
    font-size: 7px;
    font-style: normal;
    font-weight: 700;
    line-height: 7px;
  }
  .booking-text-p p {
    font-size: 8px;
    font-weight: 400;
    line-height: 9px;
    letter-spacing: normal;
    padding: 7px 10px;
  }
  .main-cont {
    width: 100% !important;
  }
  .main-content-img {
    display: none;
  }
  .mentor-logo {
    display: flex;
    width: 30% !important;
  }
  .mentor-inner h3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
  }
  .mentor-inner span {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
  }
  .main-inner span {
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
  }
  .main-inner h3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
  }

  .invoice-btn {
    font-size: 9px;
    font-weight: 600;
    line-height: 11px;
    margin-bottom: 8px;
  }
  .invoice-btn i {
    margin-right: 6px;
  }
  .view-btn {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
  }
}
