body {
  font-family: "Montserrat", "Noteworthy", sans-serif;
}
.header {
  position: relative;
  height: 130px;
}
.header-inner {
  position: absolute;
  top: 20%;
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header-inner h1 {
  margin-top: 5px;
  font-weight: lighter;
}
.header-inner i {
  font-size: xx-large;
  margin-right: 30px;
}
.mentor-logo {
  display: none;
}
.main-content {
  border-radius: 15px;
  padding: 12px 0;
  /* height: 230px; */
  border: 1px solid lightgray;
}
.main-cont {
  width: 75%;
}
.main-inner {
  background-color: #fff2f2;
  background-size: 100%;
  border-radius: 10px;
  padding: 15px;
}
.main-content-bg {
  background: #ffeeee;
}
.one {
  margin-bottom: 10px;
}
.main-inner span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #ff7878;
  border-bottom: 1px solid #ff7878;
}
.main-inner h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.invoice-btn {
  background-color: transparent;
  border: 1px solid #ff7878;
  border-radius: 10px;
  padding: 8px 0;
  width: 100%;
  margin-bottom: 10px;
}
.invoice-btn i {
  margin-right: 10px;
}
.view-btn {
  width: 100%;
  padding: 8px 0;
  background: #ff7070;
  border: none;
  border-radius: 10px;
}

.booking {
  background: #fff;
  border-radius: 20px;
  padding: 15px 0;
  padding-left: 10px;
}
.booking-text h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}
.booking-text-p {
  margin-bottom: 10px;
}
.booking-text-p span {
  background-color: #ff7878;
  border-radius: 20px;
  padding: 8px 18px;
  margin-right: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
}
.booking-main-inner {
  background: transparent !important;
  padding: 10px 0 !important;
}
.booking-text-time i {
  border-right: 2px solid black;
  padding-right: 5px;
  margin-right: 5px;
}
.booking-text-time p {
  border-radius: 30px;
  padding: 8px 25px;
  margin-right: 5px;
  border: 1px solid #ff7070;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
}
.mentor-inner h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
}
.mentor-inner span {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
}
.booking-bt{
  padding-left: 10px !important;
}
.order-p{
  padding-right: 10px !important;
}

@media only screen and (max-width: 350px) {
  .mentor-inner span {
    font-size: 8px !important;
  }
  .booking-bt{
    padding-left: 5px !important;
  }
  .order-p{
    padding-right: 7px !important;
  }
  .booking-text h2 {
    font-size: 14px !important;
    line-height: 15px !important;
    margin-bottom: 5px !important;
  }
  .booking-text-time p {
    padding: 4px 3px !important;
    font-size: 5px !important;
    line-height: 4px !important;
  }

  .booking-text-p {
    margin-bottom: 5px !important;
  }
  .booking-text-p span {
    padding: 4px 6px !important;
    font-size: 5px !important;
    line-height: 5px !important;
  }

  .invoice-btn {
    padding: 5px 2px !important;
  }
  .view-btn {
    padding: 5px !important;
  }
  .one {
    font-size: 7px !important;
  }
}
@media only screen and (max-width: 475px) {
  .main-cont {
    width: 100% !important;
  }
  .header-inner h1 {
    margin-top: 8px;
    font-size: 25px !important;
  }
  .header-inner i {
    font-size: 20px !important;
  }
}
@media only screen and (min-device-width: 475px) and (max-device-width: 770px) {
  .main-cont {
    width: 70%;
  }
}
@media screen and (max-width: 770px) {
  .header {
    height: 100px;
  }
  .booking {
    flex-direction: column !important;
    padding: 10px;
  }
  .header-inner {
    margin-left: 15px;
  }
  /* .main-cont {
    width: 90%;
  } */
  .header-inner h1 {
    font-size: 35px;
  }
  .header-inner i {
    margin-right: 20px;
  }
  .main-content {
    padding: 8px 0;
  }
  .booking img {
    width: 25% !important;
  }
  .booking-text h2 {
    font-size: 16px;
    line-height: 19px;
  }
  .booking-text-time p {
    padding: 5px;
    font-size: 7px;
    line-height: 7px;
  }
  .booking-text-p span {
    font-size: 8px;
    line-height: 9px;
    padding: 7px 10px;
  }
  .main-content-img {
    display: none;
  }
  .mentor-logo {
    display: flex;
    width: 30% !important;
  }
  .mentor-inner h3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
  }
  .mentor-inner span {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
  }
  .main-inner span {
    font-size: 9px;
    line-height: 11px;
  }
  .main-inner {
    padding: 8px;
  }
  .main-inner h3 {
    font-size: 17px;
    line-height: 20px;
  }

  .invoice-btn {
    font-size: 9px;
    line-height: 11px;
    padding: 7px;
    margin-bottom: 8px;
  }
  .invoice-btn i {
    margin-right: 6px;
  }
  .view-btn {
    font-size: 12px;
    padding: 7px;
    line-height: 15px;
  }
}
